@model Hospital_Appointment.Models.tblPayment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblPayment</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUser.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUser.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PaymentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
