@model Hospital_Appointment.Models.tblAppointment

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tblAppointment</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.AppointmentID)

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Time)
                @Html.ValidationMessageFor(model => model.Time)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Duration, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Duration)
                @Html.ValidationMessageFor(model => model.Duration)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pending, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pending)
                @Html.ValidationMessageFor(model => model.Pending)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Confirmed, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Confirmed)
                @Html.ValidationMessageFor(model => model.Confirmed)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cancelled, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cancelled)
                @Html.ValidationMessageFor(model => model.Cancelled)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentID, "PaymentID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PaymentID", String.Empty)
                @Html.ValidationMessageFor(model => model.PaymentID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
